<body id="editorBody">


    <!-- <div class="header">
        <a class="backHomeLink" href="/"><h1 class="logo">Photo<span class="logoSpan">Dev</span></h1></a>
        <button class="like">Like</button>
   </div> -->

    <div class="mainContainer"  id="imageID" target="<%=images._id%>" >

        <div class="devTools">

            <div class="listDiv">
                <ul>
                    <li class="bright">
                        <span class="iconify" data-icon="bx:brightness-half"data-width="50"></span>
                        <p>Brightness</p>
                    </li>
                    <li class="brushOption">
                        <span class="iconify" data-icon="bx:brush" data-width="50"></span>
                        <p>Brush</p>
                    </li>
                    <li class="greyscaleOption">
                        <span class="iconify" data-icon="bx:collection" data-width="50"></span>
                        <p>Greyscale</p>
                    </li>
                    <li class="colorOption">
                        <span class="iconify" data-icon="bx:color-fill" data-width="50"></span>
                        <p>Blur</p>
                    </li>
                    <li class="saturationOption">
                        <span class="iconify" data-icon="carbon:magic-wand" data-width="50"></span>
                        <p>Saturation</p>
                    </li>
                    <li class="li">
                        <span class="iconify" data-icon="akar-icons:image" data-width="50"></span>
                        <p>Change</p>
                    </li>
                    <li class="download">
                        <span class="iconify" data-icon="bx:export" data-width="50"></span>
                        <p>Download</p>
                    </li>
                    
                    <li class="colorifyOption">
                        <span class="iconify colorify-add" id="colorifyCounter" target="<%=images.color1 %>, <%= images.color2 %>, <%= images.color3 %>" data-icon="bx:color" data-width="50"></span>
                        <p>Colorify</p>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="content">

        </div>

        <div class="imageDiv">
            <div class="imager">
                <% for (let image of images.img) { %>
                    <img class="image" id="my_image"
                src="<%= image.url %> " alt="">
                 <% } %>
                 <div class="image__overlay">
            </div>
                </div>
                <div  class="row text-center my-3">
                    <div class="col-md-2"> 
                        <div  class="btn-group btn-group-sm brightness">
                            <button class="filter-btn brightness-remove btn btn-info">-</button>
                            <button class="btn btn-secondary btn-disabled"disabled>Brightness</button>
                            <button class="filter-btn brightness-add btn btn-info">+</button>
                        </div>
                    </div>
                    <div class="col-md-2"> 
                        <div class="btn-group btn-group-sm brush">
                            <button class="filter-btn brush-remove btn btn-info">-</button>
                            <button class="btn btn-secondary btn-disabled" disabled>Brush</button>
                            <button class="filter-btn brush-add btn btn-info">+</button>
                        </div>
                    </div>
                    <div class="col-md-2"> 
                        <div class="btn-group btn-group-sm greyscale">
                            <button class="filter-btn greyscale-remove btn btn-info">-</button>
                            <button class="btn btn-secondary btn-disabled" disabled>Greyscale</button>
                            <button class="filter-btn greyscale-add btn btn-info">+
                               
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2"> 
                        <div class="btn-group btn-group-sm color">
                            <button class="filter-btn color-remove btn btn-info">
                                <!-- <form action="/_method=PUT" method="POST"></form> -->
                            -</button>
                            <button class="btn btn-secondary btn-disabled" disabled>Blur</button>
                            <button class="filter-btn color-add btn btn-info">+</button>
                        </div>
                        
                    </div>
                    <div class="col-md-2"> 
                        <div class="btn-group btn-group-sm saturation">
                            <button class="filter-btn saturation-remove btn btn-info">-</button>
                            <button class="btn btn-secondary btn-disabled" disabled>Saturation</button>
                            <button class="filter-btn saturation-add btn btn-info">+</button>
                        </div>
                    </div>
                    <div  class="row text-center my-1">
                        <div class="col-md-2" >
                            <h5 class="brightnessCounter" id="brightnessCounter" target="<%=images.brightness%>"><%=images.brightness%></h5>
                        </div>
                        <div class="col-md-2" >
                            <h5 class="brushCounter" id="brushCounter" target="<%=images.brush%>"><%=images.brush%></h5>
                        </div>
                        <div class="col-md-2" >
                            <h5 class="effectCount greyscaleCounter" id="greyscaleCounter" target="<%=images.greyscale%>" ><%=images.greyscale%></h5>
                        </div>
                        <div class="col-md-2" >
                            <h5 class="blurCounter" id="blurCounter" target="<%=images.blur%>" ><%=images.blur%></h5>
                        </div>
                        <div class="col-md-2" >
                            <h5 class="saturationCounter" id="saturationCounter" target="<%=images.saturation%>" ><%=images.saturation%></h5>
                        </div>
                    </div>
          
                </div>
        </div>
        
        
    </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js" integrity="sha512-JjFeUD2H//RHt+DjVf1BTuy1X5ZPtMl0svQ3RopX641DWoSilJ89LsFGq4Sw/6BSBfULqUW/CfnVopV5CfvRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/javascripts/effects.js"></script>
       
    
</body>
